.XLM.reset {
  border-radius: 5px;
  border: 0px;
}

.main.rawText {
  margin: 2px;
}

.main.treeNode {
  border-radius: 5px;
  border: 0px;
  font-family: CRDILight;
  background-image: url('../image-folder/Stellar.png')
}

.c.rawText {
  margin: 2px;
}

.c.treeNode {
  border-radius: 5px;
  border: 0px;
  font-family: CRDILight;
  background-image: url('../image-folder/Stellar.png')
}

.cBreak {
  line-height: 10px; /* what */
}

.RankStar {
  position: 0.5 , 0.5;
}
.b.treeNode {
  border-radius: 15px;
  border: 0px;
  font-family: CRDILight;
  background-image: url('../image-folder/Stellar.png')
}

.b.reset:can {
  background: linear-gradient(0deg, rgba(66,135,245,1) 0%, rgba(0,255,255,1) 100%);
  border-radius: 5px;
  border: 0px;
}

.b.locked {
  border-radius: 5px;
  border: 0px;
  margin: 5px;
}

.b.bought {
  border-radius: 5px;
  border: 0px;
  margin: 5px;
}

.b.can {
  background: linear-gradient(0deg, rgba(66,135,245,1) 0%, rgba(0,255,255,1) 100%);
  border-radius: 5px;
  border: 0px;
  margin: 5px;
}

.b.reset {
  border-radius: 5px;
  border: 0px;
}

.c.reset:can {
  background: linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(77,77,77,1) 100%);
  border-radius: 5px;
  border: 0px;
}

.c.locked {
  border-radius: 5px;
  border: 0px;
  margin: 5px;
}

.c.bought {
  border-radius: 5px;
  border: 0px;
  margin: 5px;
}

.c.can {
  background: linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(77,77,77,1) 100%);
  border-radius: 5px;
  border: 0px;
  margin: 5px;
}

.c.reset {
  border-radius: 5px;
  border: 0px;
}

.XLM.can {
  animation: CiperText .8s linear forwards;
}

@keyframes CiperText {
  0% {
    content: '4@,3SAscAi;9,bT4';
  }
  10% {
    content: '$R6?4dSj{qS<7Yh7';
  }
  20% {
    content: '+BDs73f;[u3^4Lgg';
  }
  30% {
    content: '{qS<7Yh7+BDs73f;';
  }
  50% {
    content: 'Ai;9,bT4$R6?4dSj';
  }
  60% {
    content: '[o3^4LggAi;9,bT4';
  }
  70% {
    content: 'qoj4BWy-?4dSj{qS';
  }
  80% {
    content: 'GonQ5Tye4LggAi;s';
  }
  90% {
    content: 'Go3d4<yecAi;9,bT';
  }
  100% {
    content: '';
  }
}